.cart-icon {
    position: absolute;
    top: calc(6vh + 0.75rem);
    right: calc(6vh + 0.75rem);
}

.cart-icon > button,
.cart-modal .container table td > button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-icon img {
    width: 2em;
    height: 2em;
}

.cart-icon span {
    position: relative;
    top: -0.5em;
    right: 0.5em;
}

.cart-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0, 0.8);
    z-index: 99;
}

.cart-modal .container {
    background: #FFFFFF;
    width: 80%;
    height: 70%;
    margin: 10% auto auto;
    border-radius: 20px;
    padding: 1.3em;
}

.cart-modal .container table th,
.cart-modal .container table td {
    padding-left: 1em;
}

.cart-modal .container thead {
    background-color: #AAAAAA;
}

.cart-modal .container tfoot {
    padding-top: 2em;
    background: palegreen;
}

.cart-modal .container tbody img {
    height: 1.5em;
    width: 1.5em;
}

.cart-modal h3 button {
    position: relative;
    float: right;
    border: 1px solid #AAAAAA;
    background-color: #DDDDDD;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.cart-modal h3 button:hover {
    background-color: #FFFFFF;
}

.cart-modal h3 button:after,
.cart-modal h3 button:before {
    position: absolute;
    top: 20%;
    left: 47%;
    right: 50%;
    bottom: 20%;
    content: " ";
    width: 2px;
    background-color: #101010;
}

.cart-modal h3 button:after {
    transform: rotate(45deg);
}

.cart-modal h3 button:before {
    transform: rotate(-45deg);
}

.table-wrapper {
    overflow-y: scroll;
    height: 70%;
    margin-bottom: 3%;
}

.cart-modal .table-wrapper > button:last-child {
    border-radius: 2px;
    border: 1px solid #AAAAAA;
    padding: 1em 2em;
    margin-left: 1em;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.cart-modal .table-wrapper > button:last-child:hover {
    background-color: #82f582;
}