select {
    position: absolute;
    right: 0;
    font-size: 1rem;
    width: 50%;
}

.item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 2em;
    font-size: 1vmin;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex: 1 0 33%;
    max-width: 33%;
    padding: 5% 0.5em 5% 0.5em;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #101010;
    transform: scale(0.85);
    transition: transform 0.33s ease-in-out;
}

.item:hover {
    transform: scale(0.9);
}

.item:hover .cart-button {
    opacity: 1;
    visibility: visible;
    height: 8vmin;
    width: 8vmin;
}

.item h3 {
    font-size: 2.5em;
}
.item p {
    font-size: 2em;
}

.item img {
    max-height: 30%;
    max-width: 80%;
}

.cart-button {
    position: absolute;
    opacity: 0;
    visibility: collapse;
    height: 0;
    width: 0;
    border: 0;
    background-color: forestgreen;
    color: #FFFFFF;
    font-size: 5vmin;
    border-radius: 50%;
    bottom: -3vmin;
    right: -3vmin;
    transition: opacity 0.33s ease-in-out, height 0.2s linear;
    cursor: pointer;
}
