.layout {
    padding-top: 6vh;
}

.layout a,
.layout a:visited {
    color: inherit;
}

.layout h1 {
    margin: auto auto 10vh;
}

.layout h1, .layout > h2 {
    max-width: 80%;
    color: #000000;
}

.layout > h2 {
    font-size: 1.7em;
    position: relative;
    margin: auto auto 3rem;
}